:root {
  --main-padding: 1rem;
  --overlay-color: rgba(0, 0, 0, 0.5);
  --shadow-color: rgba(0, 0, 0, 0.1);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  box-sizing: border-box; /* Include padding in element's total width and height */
}

.mainContainer {
  background: linear-gradient(var(--overlay-color), var(--overlay-color)),
    url('/images/travel-bg.jpg') center center / cover no-repeat fixed;
  will-change: transform;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: var(--main-padding);  /* Or set a specific padding value */
  box-sizing: border-box;
  transform: translateZ(0);
  position:relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.main {
  position: relative;
  z-index: 1;
  background: transparent;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem; /* Reduce margin on smaller screens */
  width: 100%; /* Ensure full width */
  flex-wrap: wrap; /* Allow wrapping if necessary */
}

.filterIconContainer, 
.chatIconContainer {
  cursor: pointer;
  font-size: 1.5rem; /* Smaller icon size on mobile */
  margin-bottom: 0.5rem; /* Add margin for wrapping */
}

.contentContainer {
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
}

.contentContainer h2 {
  font-size: 1.5rem; /* Adjust sizes as needed for different screen sizes */
}
.contentContainer p {
  font-size: 1rem;
}

.locationsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Smaller min width */
  grid-gap: 1rem;
  width: 100%;
}

/* Media queries for specific breakpoints */

/* Mobile First (default - already set) */

/* Tablet and larger screens (768px and above) */
@media (min-width: 768px) {
  .main {
    padding: 2rem; /* Larger padding on bigger screens */
  }

  .filterIconContainer,
  .chatIconContainer {
    font-size: 2rem; /* Larger icons */
    margin-bottom: 0; /* Remove margin */
  }

  .contentContainer h2 {
    font-size: 2rem;
  }

  .contentContainer p {
    font-size: 1.25rem;
  }

  .locationsGrid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Larger grid items */
  }
}

/* Large Screens (1200px and above) */
@media (min-width: 1200px) {
  .titleContainer {
    margin-bottom: 2rem;
  }

  .contentContainer h2 {
    font-size: 2.5rem;
  }

  .contentContainer p {
    font-size: 1.5rem;
  }

  .locationsGrid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Even larger grid items */
  }
}
